<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<form method="POST" action="{{ url_for('send') }}" style="border:1px solid #ccc">
  <div class="container">
    <h1>Cloud Assignment 2, Achal Parikh - 100520618</h1>
    <p>Subscribe and Enter Data into our database</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
</body>